* {
    box-sizing: border-box;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.top-left {
    z-index: 20;
    color: red;
  }

  img.top-left{
    z-index: -10;
  }

  .container {
    position: relative;
    height: 305px;
  }